mcc_data_source_post_api:
    resource: "@MccDataSourceBundle/Controller/PostRESTController.php"
    type:   rest
    prefix:   /api

mcc_demo:
    resource: "@MccDemoBundle/Controller/"
    type:     annotation
    prefix:   /

mcc_api:
    resource: "@MccApiBundle/Controller/"
    type:     annotation
    prefix:   /

mcc_frontend:
    resource: "@MccFrontendBundle/Controller/"
    type:     annotation
    prefix:   /

#mcc_backend:
#    resource: "@MccBackendBundle/Controller/"
#    type:     annotation
#    prefix:   /

mcc_data_source:
    resource: "@MccDataSourceBundle/Controller/"
    type:     annotation
    prefix:   /

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

# EasyAdminBundle
easy_admin_bundle:
#    resource: "@EasyAdminBundle/Controller/AdminController.php"
    resource: "@MccBackendBundle/Controller/AdminController.php"
    type:     annotation
    prefix:   /admin

app:
    resource: '@AppBundle/Controller/'
    type: annotation

# for Rest API DOC
NelmioApiDocBundle:
    resource: "@NelmioApiDocBundle/Resources/config/routing/swaggerui.xml"
    prefix:   /api/doc

app.swagger:
    path: /api/doc.json
    methods: GET
    defaults: { _controller: nelmio_api_doc.controller.swagger }

_liip_imagine:
    resource: "@LiipImagineBundle/Resources/config/routing.xml"