easy_admin:
    entities:
        Post:
            class: Mcc\DataSourceBundle\Entity\Post
            form:
                fields:
                    - { property: 'name'}
                    - { property: 'brief', type: 'ckeditor', type_options: { 'config_name': 'basic_config'}}
                    - { property: 'description', type: 'ckeditor', type_options: { 'config_name': 'standard_config'}}
                    - { property: 'author'}
                    - { property: 'position'}
                    - { property: 'enabled'}
                    - { property: 'imageFile', type: 'vich_file' }
                    - { property: 'tag', type: 'entity', type_options: { multiple: false, class: 'Mcc\DataSourceBundle\Entity\Tag', attr: { data-widget: 'select2' } } }
                    - { property: 'createdAt' }
                    - { property: 'updatedAt' }

            # ...
            list:
                fields:
                    - { property: 'name'}
                    - { property: 'slug'}
                    - { property: 'author'}
                    - { property: 'tag'}
                    - { property: 'position' }
                    - { property: 'enabled'}
                    - { property: 'createdAt'}
                    - { property: 'updatedAt'}
                    - { property: 'image', type: 'image', base_path: '%app.path.product_images%', template: 'vich_uploader_image.html.twig' }
                    #- { property: 'image', type: 'vich_file', base_path: '%app.path.product_images%' }
                    #- { property: 'image', type: 'file', base_path: '%app.path.product_images%' }