easy_admin:
    entities:
        Product:
            class: Mcc\DataSourceBundle\Entity\Product
            form:
                fields:
                    - { property: 'code'}
                    - { property: 'name'}
                    - { property: 'price', type: 'money', type_options: { currency: 'EUR' } }
                    - { property: 'description', type: 'ckeditor'}
                    - { property: 'enabled'}
                    - { property: 'imageFile', type: 'vich_file' }
                    - { property: 'categories', type: 'entity', type_options: { multiple: true, class: 'Mcc\DataSourceBundle\Entity\Category', attr: { data-widget: 'select2' } } }
                    - { property: 'colors', type: 'entity', type_options: { multiple: true, class: 'Mcc\DataSourceBundle\Entity\Color', attr: { data-widget: 'select2' } } }
                    - { property: 'sizes', type: 'entity', type_options: { multiple: true, class: 'Mcc\DataSourceBundle\Entity\Size', attr: { data-widget: 'select2' } } }
                    - { property: 'couponCodes', type: 'entity', type_options: { multiple: true, class: 'Mcc\DataSourceBundle\Entity\CouponCode', attr: { data-widget: 'select2' } } }
                    - { property: 'createdAt' }
                    - { property: 'updatedAt' }

            # ...
            list:
                fields:
                    - { property: 'code'}
                    - { property: 'categories'}
                    - { property: 'name'}
                    - { property: 'slug'}
                    - { property: 'price' }
                    - { property: 'description'}
                    - { property: 'enabled'}
                    - { property: 'image', type: 'image', base_path: '%app.path.product_images%', template: 'vich_uploader_image.html.twig' }
                    #- { property: 'image', type: 'vich_file', base_path: '%app.path.product_images%' }
                    #- { property: 'image', type: 'file', base_path: '%app.path.product_images%' }